 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
     margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

:root{
    --branco:#ffff;
    --preto:black;

    /*cor secundária*/
    --cinza:#B3B3B3;
    --cinza1:#F7F7F7;
    --cinza2:#CDCDCD;
    /*cor principal*/
    --verde:#344848;
    --dourado:#FECEA2;
    
    /*font*/
    --font-grande:400px;
    --h1:48px;
    --h2:35px;
    --h3:25px;
    --size:20px;
    --size1:18px;
    --size2:14px;
    --size3:10px;
    
    /*font-weight*/
    --weight:700 ;
    --weight0:600 ;
    --weight1:400 ;

    /*Base das dimensões*/
    --limite: 1100px;
    --min:320px;

}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    position:fixed;
    top: 0;
    z-index: 99999;
    background: var(--branco);
}

.logo{
    width: 160px;
    height: 21px;
    margin-left: 45px;
}
.icon-mobile, .menu nav {
    margin-right: 45px;

}
.menu nav ul{
    display: flex;
    justify-content:left;
    align-items: center;
    
}

.menu nav li{
    list-style-type: none;
    margin: 0px 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: var(--weight1);
    font-size: var(--size3);
    line-height: 57px;
    letter-spacing: 0.5px;
    color: #344848;

}

.menu nav li a{
    text-decoration: none;
    color: var(--verde);
}

.menu nav li a{
    text-decoration: none;
    color: var(--verde);
}

section{
    padding: 0px 45px;
}

.main section{
    max-width: 1100px;
    margin: auto;

}

/*carroseu*/
.swiper {
    width: 100%;
    height: 200px;
  }
.titulo-clintes{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: var(--weight1);
    font-size: var(--size);
    line-height: 23px;
    color: #B3B3B3;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
}
  .swiper-slide-1 {
    text-align: center;
    font-size: 18px;
    background: #fff;

  }

  .swiper-slide-1 {
    width: 200px; /* largura do contêiner pai */
    height: 200px; /* altura do contêiner pai */
  }
  
  .swiper-slide-1 div {
    width: 100%; /* largura do objeto de plano de fundo */
    height: 100%; /* altura do objeto de plano de fundo */
  }

  .nossos-clientes-img .swiper-slide{
    width: 40px !important;

  }


  .header-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: var(--weight);
    font-size: 48px;
    height: 200px;
    width: 400px;
    line-height: 57px;
    letter-spacing: 0.5px;
    color: var(--verde);
    margin-right: auto;
  }

  .margin-90{margin-top: 90px;}
  .margin-50{margin-top: 50px;}
  .margin-30{margin-top: 30px;}
  .margin-20{margin-top: 20px;}
  .margin-10{margin-top: 10px;}
  .space-box{padding: 30px 45px 10px 50px;}
  .space-box1{padding: 0px 45px 10px 50px;}

  .gird2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-gap: 20px;
  }

  .vh100{
    height: 100vh;
  }

  .center-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .visao{
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: var(--weight1);
    font-size: var(--size);
    line-height: 12px;
    letter-spacing: 0.5px;
    color: var(--verde);
  }
  .visao span{
    display: block;
  }
.visao-animacao{
    width: 36px;
    background: var(--cinza);
    height: 2.5px;
    margin-top: 5px;
    margin-left: 12px;
    margin-right:12px ;
}

.visao-animacao-frame{
    background: #848484;
    width: 20px;
    height: 2px;
    animation: move-frames 10s ease-in-out infinite;
}
@keyframes move-frames {
    0% {
      transform: translateX(0);
    }
    45%{
        transform: translateX(0);
    }
    55%{
        transform: translateX(16px);
    }
    90%{
        transform: translateX(16px);
    }

  }

  .visao2{
    animation: move-visao1 10s ease-in-out infinite;
}
@keyframes move-visao1 {
    0% {
        color: var(--verde);
        
    }
    5% {
        color: var(--verde);
        
    }
    30%{
        color: #848484;
        
    }
    55%{
        color: #848484;
        
    }
    60%{
        color: var(--verde);
    }
    100%{
        color: var(--verde);
    }

  }

  .visao1{
    color: #848484;
    animation: move-visao2 10s ease-in-out infinite;
}
@keyframes move-visao2 {
    5% {
        color: #848484;
        
    }
        
    5%{
        color: var(--verde);
        
    }
    
    30%{
        color: var(--verde);
        
    }
    55%{
        color: var(--verde);
        
    }
    60%{
        color: #848484;
    }

  }


  

.display-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-flex-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.box{
    background:#9aa4a4;
    border-radius: 10px;
    text-align: center;
    max-width: 350px;
    height: 314px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.box:hover{
    transform: scale(1.1);
}

.box .dourado{
    color: var(--dourado);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: var(--size);
    line-height: 27px;
    opacity: 1;
    padding: 0px 50px 0px 50px;
}
.box .sub-Titulo{
font-family: 'Montserrat';
font-style: normal;
font-weight: var(--weight1);
font-size: var(--size2);
line-height: 20px;
color: var(--branco);
padding: 0px 50px 10px 50px;
}
.box input[type="text"]{
    background: transparent;
    border-bottom: solid 1px var(--cinza2);
    padding-bottom: 5px;
    width: 100%;
    color: var(--cinza2);
    

}
.box input[type="text"]::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--cinza2);
}
.botao-dourado{
    color: var(--verde);
    flex: none;
    order: 1;
    flex-grow: 0;
    background: var(--dourado);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: var(--weight);
    font-size: var(--size3);
    line-height: 14px;
    width: 226px;
    height: 34px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.botao-dourado:hover{
    filter: saturate(200%);
}

.title-parceiros{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: var(--weight1);
    font-size: var(--size);
    line-height: 23px;
    letter-spacing: 0.5px;
    color: var(--cinza2);

}
.text-quem-somos{
    max-width: 450px;
    text-align: left;
}
.img-quem-somos{
    max-width: 472px;
}
.aspas-quem-somos{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 18px;
    letter-spacing: 3px;
    color: #B3B3B3;
    height: 36px;
    margin-top: 10px;
    margin-bottom: -25px;
}

.titulo-quem{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: var(--weight1);
    font-size: var(--h3);
    line-height: 20px;
    color: var(--verde);
}
.titulo-quem-sub{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: var(--weight);
    font-size: var(--h2);
    line-height: 45px;
    color: var(--verde);
}
.perfil-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap
}

.perfil-conteudo .conteudo{
    background: var(--branco);
    border: 1px solid var(--cinza1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px 25px;
    max-width: 300px;
    min-height: 260px;
    margin-top: 30px;
}

.perfil-conteudo .conteudo div:nth-of-type(1){
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: var(--h2);
    line-height: 20px;
    color:  var(--verde);
}

.perfil-conteudo .conteudo div:nth-of-type(2){
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: var(--h3);
    line-height: 20px;
    color: var(--verde);
    margin-top: 40px;
}

.perfil-conteudo .conteudo div:nth-of-type(3){
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #344848;
    margin-top: 36PX;
}
.perfil-cards .conteudo{
width: 240px;
height: 140px;
margin: 30px;
background: var(--cinza2);
border-radius: 5px;
}

.perfil-conteudo .ferramentas{
    background: var(--branco);
    border: 1px solid var(--cinza1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px 25px;
    max-width: 300px;
    min-height: 230px;
    margin-top: 30px;
}

.perfil-conteudo .ferramentas div:nth-of-type(1){
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: var(--weight1);
    font-size: var(--size1);
    line-height: 20px;
    margin-bottom: 15px;
    color: #000000;
}

.perfil-conteudo .ferramentas div{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: var(--weight1);
    font-size: var(--size2);
    line-height: 20px;
    color: var(--verde);
    margin-top: 15px;
}
.perfil-conteudo .ferramentas b:nth-of-type(1){
    margin-right: 5px;
}

.perfil-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 90px;
}

@media screen and (max-width: 810px){
    .perfil-conteudo{
        justify-content: center;
    }
}
@media screen and (min-width: 1048px){
    .posicao-sticky{
        position: sticky;
        top: 110px;
    }
}
@media screen and (min-width: 770px){
    .nossos-clientes-img{
        display: flex;
        justify-content: center;
    }
}


.text-quem-somos .comentarios b{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: var(--weight0);
    font-size: var(--size1);
    line-height: 20px;
    color: #344848;

}

.text-quem-somos .comentarios{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: var(--weight1);
    font-size: var(--size1);
    line-height: 20px;
    color: var(--verde);
    margin-top: 50px;
    padding-bottom: 50px;

}
.border-bottom{
    border-bottom: solid 1px var(--cinza2); ;
}
.sub-titulo{
font-family: 'Montserrat';
font-style: normal;
font-weight: var(--weight);
font-size: var(--h2);
line-height: 45px;
color: #344848;
}

.nossos-clientes-img img{
    width: 60px;
    height: 60px;
}
.swiper-slide{
    margin-right: 0px !important;
}

@media screen and (max-width: 1048px) {
.media-column{
    flex-direction: column;
    justify-content: space-between;
}
.img-quem-somos{
    max-width: 100%;
}
.text-quem-somos , .posicao-sticky{
    margin: auto;
}
    
}


@media screen and (max-width: 768px) {
    
    .icon-mobile, .menu{
        display: block;
    }

    .gird2{
        grid-template-columns: repeat(1, 1fr);
    }
    .icon-mobile div{
        /* display: none;*/
        width: 15px;
        background: var(--cinza2);
        height: 2px;
        margin-top: 2px;
     }
     .icon-mobile {
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border: 0.5px solid var(--cinza2);
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
     }
     .menu nav{
        display: none;
        margin-top: 30px;
    }
    .menu nav ul{
        display: block;
        background: var(--branco);
        position: fixed;
        height: 100vh;
        right: 0px;
        width: 100%;
        text-align: center;
    }
    .icon-mobile{
        margin-left: auto;
        margin-right: 45px;
    }

    .nav-mobile{
        width: 100%;
        display: flex;
        margin-top: 24px;
    }
    .header-title{
        width: auto;
    }

    .header-title{
        font-size: 25px;
    }
    .botao-dourado{
        padding: 0px 30px;
        width: auto;
    }

    .section {
        padding: 0px 15px;
    }
    .block{
        display: block;
    }
    .box{
        margin: auto;
        margin-top: 50px;
        min-width: 150px;
        max-width: 440px;
        text-align: left;
        align-items: flex-start;
        padding: 20px 0px;
    }
    
    .media-margin{
        margin-top: 90px;
    }

}
