 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-family: 'Montserrat';
     font-style: normal;
 }
a{
    color: inherit;
    text-decoration: none;
}
 :root {
     --branco: #ffff;
     --preto: black;

     /*cor secundária*/
     --cinza: #B3B3B3;
     --cinza1: #F7F7F7;
     --cinza2: #CDCDCD;
     /*cor principal*/
     --verde: #344848;
     --dourado: #FECEA2;

     /*font*/
     --font-grande: 400px;
     --h1: 48px;
     --h2: 35px;
     --h3: 25px;
     --size: 20px;
     --size1: 18px;
     --size2: 14px;
     --size3: 10px;
     --size4: 8px;
     --size5: 12px;
     --size-god: 400px;

     /*font-weight*/
     --weight: 700;
     --weight0: 600;
     --weight1: 400;

     /*Base das dimensões*/
     --limite: 1100px;
     --min: 320px;

 }


 @media screen and (max-width: 970px) {
     :root {
         --size-god: 250px;
     }
 }

 @media screen and (max-width: 630px) {
     :root {
         --size-god: 200px;
     }
 }

 @media screen and (max-width: 500px) {
     :root {
         --font-grande: 400px;
         --h1: 43px;
         --h2: 25px;
         --h3: 20px;
         --size: 18px;
         --size1: 16px;
         --size2: 12px;
         --size3: 10px;
         --size-god: 120px;
     }

 }

 html {
     scroll-behavior: smooth;
 }



 .menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 90px;
     width: 100%;
     position: fixed;
     top: 0;
     z-index: 99999;
     background: var(--branco);
 }

 .logo {
     width: 160px;
     height: 21px;
     margin-left: 45px;
 }

 .icon-mobile,
 .menu nav {
     margin-right: 45px;

 }

 .menu nav ul {
     display: flex;
     justify-content: left;
     align-items: center;

 }

 .menu nav li {
     list-style-type: none;
     margin: 0px 5px;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size3);
     line-height: 57px;
     letter-spacing: 0.5px;
     color: #344848;

 }

 .menu nav li a {
     text-decoration: none;
     color: var(--verde);
     transition: 0.3s;
 }

 .menu nav li a:hover {
     color: var(--verde);
     border-bottom: 1px solid var(--verde);
 }

    .padding-section1{
        background: #F7F7F7;
        padding: 90px 0px 50px 0px;
    }
    .padding-section{
        padding: 90px 0px 50px 0px;
    }
    .container {
     max-width: 1300px;
     margin: auto;
     padding: 0px 50px;
    }

 /*carroseu*/

 .titulo-clintes {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size);
     line-height: 23px;
     color: #B3B3B3;
     text-align: center;
     margin-top: 90px;
     margin-bottom: 30px;
 }

 .swiper-slide{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 45px;
 }

 .swiper {
    width: 100%;
    height: 300px;
}


@media screen and (max-width: 768px) {
    .swiper-slide{
        margin-left: 50px;
    }
}

 .swiper-slide-1 {
     text-align: center;
     font-size: 18px;
     background: #fff;

 }

 .swiper-slide-1 {
     width: 200px;
     /* largura do contêiner pai */
     height: 200px;
     /* altura do contêiner pai */
 }

 .swiper-slide-1 div {
     width: 100%;
     /* largura do objeto de plano de fundo */
     height: 100%;
     /* altura do objeto de plano de fundo */
 }

 .nossos-clientes-img .swiper-slide {
     width: 0px !important;

 }


 .header-title {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight);
     font-size: 32px;
     height: 140px;
     width: 540px;
     line-height: 57px;
     letter-spacing: 0.5px;
     color: var(--verde);
     margin-right: auto;
 }

 .margin-90 {
     margin-top: 90px;
 }

 .margin-50 {
     margin-top: 50px;
 }

 .margin-30 {
     margin-top: 30px;
 }

 .margin-20 {
     margin-top: 20px;
 }

 .margin-10 {
     margin-top: 10px;
 }

 .space-box {
     padding: 30px 45px 10px 50px;
 }

 .space-box1 {
     padding: 0px 45px 10px 50px;
 }

 .gird2 {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-auto-flow: row;
     grid-gap: 20px;
 }

 .vh100 {
     height: 100vh;
 }

 .center-wrap {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: column;
     z-index: 2;
     position: relative;
 }

 .visao {
     width: 100%;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size);
     line-height: 12px;
     letter-spacing: 0.5px;
     color: var(--verde);
 }

 .visao span {
     display: block;
 }

 .visao-animacao {
     width: 36px;
     background: var(--cinza);
     height: 2.5px;
     margin-top: 5px;
     margin-left: 12px;
     margin-right: 12px;
 }

 .visao-animacao-frame {
     background: #848484;
     width: 20px;
     height: 2px;
     animation: move-frames 10s ease-in-out infinite;
 }

 @keyframes move-frames {
     0% {
         transform: translateX(0);
     }

     45% {
         transform: translateX(0);
     }

     55% {
         transform: translateX(16px);
     }

     90% {
         transform: translateX(16px);
     }

 }

 .visao2 {
     animation: move-visao1 10s ease-in-out infinite;
 }

 @keyframes move-visao1 {
     0% {
         color: var(--verde);

     }

     5% {
         color: var(--verde);

     }

     30% {
         color: #848484;

     }

     55% {
         color: #848484;

     }

     60% {
         color: var(--verde);
     }

     100% {
         color: var(--verde);
     }

 }

 .visao1 {
     color: #848484;
     animation: move-visao2 10s ease-in-out infinite;
 }

 @keyframes move-visao2 {
     5% {
         color: #848484;

     }

     5% {
         color: var(--verde);

     }

     30% {
         color: var(--verde);

     }

     55% {
         color: var(--verde);

     }

     60% {
         color: #848484;
     }

 }




 .display-flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .display-flex-space {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .display-flex-left {
     display: flex;
     justify-content: left;
     align-items: center;
 }

 .box {
     background: var(--verde);
     border-radius: 10px;
     text-align: center;
     max-width: 350px;
     height: 314px;
     transition: 0.5s;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: column;
 }

 .box .dourado {
     color: var(--dourado);
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: var(--size);
     line-height: 27px;
     opacity: 1;
     padding: 0px 50px 0px 50px;
 }

 .box .sub-Titulo {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size2);
     line-height: 20px;
     color: var(--branco);
     padding: 0px 50px 10px 50px;
 }

 .box input[type="text"] {
     background: transparent;
     border-bottom: solid 1px var(--cinza2);
     padding-bottom: 5px;
     width: 100%;
     color: var(--cinza2);


 }

 .box input[type="text"]::placeholder {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 19px;
     color: var(--cinza2);
 }

 .botao-dourado {
     color: var(--verde);
     flex: none;
     order: 1;
     flex-grow: 0;
     background: var(--dourado);
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--size3);
     line-height: 14px;
     width: 226px;
     height: 34px;
     border-radius: 30px;
     cursor: pointer;
     transition: 0.5s;
 }


 .space-home {
     align-items: start;
     margin-top: 200px !important;
 }

 .botao-dourado:hover {
     filter: saturate(200%);
 }

 .marquee_text-img div {
     margin: 0px 100px;
 }

 .title-parceiros {
     text-align: center;
     font-family: Montserrat;
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--size);
     line-height: 23px;
     letter-spacing: 2px;
     color: var(--cinza2);
     margin-bottom: 45px;
 }

 .parceiros-section {
     height: 200px;
     margin: 0 !important;
     max-width: none !important;
     width: 100%;
     box-sizing: border-box;
     overflow: hidden;
     margin-top: 30px !important;
 }

 .text-quem-somos {
     max-width: 450px;
     text-align: left;
 }

 .img-quem-somos {
     max-width: 472px;
 }

 .aspas-quem-somos {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 40px;
     line-height: 18px;
     letter-spacing: 3px;
     color: #B3B3B3;
     height: 36px;
     margin-top: 10px;
     margin-bottom: -25px;
 }

 .titulo-quem {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--h3);
     line-height: 20px;
     color: var(--verde);
 }

 .titulo-quem-sub {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--h2);
     line-height: 45px;
     color: var(--verde);
     
 }

 .perfil-conteudo {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 50px;
     flex-wrap: wrap;
     margin-bottom: 40px;
 }

 .perfil-conteudo .conteudo {
     background: var(--branco);
     border: 1px solid var(--cinza1);
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     padding: 40px 25px;
     max-width: 300px;
     min-height: 260px;
     margin-top: 30px;
 }

 .perfil-conteudo .conteudo div:nth-of-type(1) {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: var(--h2);
     line-height: 20px;
     color: var(--verde);
 }

 .perfil-conteudo .conteudo div:nth-of-type(2) {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: var(--h3);
     line-height: 20px;
     color: var(--verde);
     margin-top: 40px;
 }

 .perfil-conteudo .conteudo div:nth-of-type(3) {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 20px;
     color: #344848;
     margin-top: 36PX;
 }

 #ferramentas {
     background-image: url("../img/fundo.svg");
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 90px;
     position: relative;
     margin-top: -90px;
     padding-bottom:50px ;
 }


 .perfil-conteudo .ferramentas {
     background: var(--branco);
     border: 1px solid var(--cinza1);
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     padding: 40px 25px;
     max-width: 300px;
     min-height: 230px;
     margin-top: 30px;
 }

 .perfil-conteudo .ferramentas div:nth-of-type(1) {
     text-align: center;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size1);
     line-height: 20px;
     margin-bottom: 15px;
     color: #000000;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .perfil-conteudo .ferramentas div:nth-of-type(1) img {
     width: 30px;
 }

 .perfil-conteudo .ferramentas div {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size2);
     line-height: 20px;
     color: var(--verde);
     margin-top: 15px;
     display: flex;
 }

 .perfil-conteudo .ferramentas b:nth-of-type(1) {
     margin-right: 5px;
 }

 .benefits {
     margin-top: 90px;
 }

 .beneficios h2 {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--h3);
     line-height: 20px;
     color: var(--verde);
     margin-bottom: 15px;
 }

 .beneficios .sub-titulo {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--h1);
     line-height: 45px;
     color: var(--verde);
 }

 .beneficios .custos {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: var(--size-god);
     color: var(--verde);
     text-align: center;
 }

 .beneficios .info {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size);
     line-height: 20px;
     text-align: center;
     color: var(--preto);
 }

 .beneficios .benefits {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     margin-bottom: 50px;
 }

 .beneficios .cards-benedicios {
     max-width: 300px;
     margin: 30px;
 }

 .beneficios .cards-benedicios div:nth-of-type(1) svg {
     margin-right: 5px;
 }

 .beneficios .cards-benedicios div:nth-of-type(1) {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--size);
     line-height: 45px;
     color: var(--verde);
     text-align: center
 }

 .beneficios .cards-benedicios div:nth-of-type(2) {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size2);
     line-height: 23px;
     color: var(--verde);
     text-align: center;
 }




 .grid-avand {
     display: grid;
     margin-top: 50px;
     padding-bottom: 110px;
     grid-template-columns: 25% 27% 1fr;
 }

 .grid-avand>div {
     border-radius: 10px;
 }

 .grid-avand>div:nth-of-type(1) {
     grid-column-start: 1;
     grid-row-start: 1;
     grid-row-end: 2;
     font-size: 18px;
     line-height: 20px;

 }

 .grid-avand>div:nth-of-type(2) {
    grid-column-start: 2;
    font-size: 18px;
    line-height: 20px;
    grid-row-start: 1;
    grid-row-end: 6;
    margin: 0px 20px;
    background: #b1b1b1;
 }

 .grid-avand>div:nth-of-type(3) {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    padding: 0;
    border: 0px solid #EBEBEB;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    background: transparent;
 }

 .grid-avand .display-sistema {
     background-image: url(../img/grid/Frame\ 7.png);
     background-size: cover;
     background-repeat: no-repeat;
     height: 375px;
     margin-bottom: -180px;
 }

 .grid-avand-whatsapp {
     background: #22CF60;
     border-radius: 7px;
     display: block;
     width: 45px;
     height: 45px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .grid-avand-whatsapp path{
    s: 20px;
 }

 #video1{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 15px;
 }

 @media screen and (max-width: 1000px) {
    .space-home {
        display: block !important;
        margin-top: 30px !important;
    }
    .box {
        margin: auto;
        margin-top: 50px;
        min-width: 150px;
        max-width: 440px;
        text-align: left;
        align-items: flex-start;
        padding: 20px 0px;
    }


    .space-home {
        display: block !important;
        margin-top: 30px !important;
    }
    
 }

 @media screen and (max-width: 810px) {

     .header-title {
         font-size: 18px;
         line-height: 30px;
     }

 }

 @media screen and (max-width: 810px) {
     .perfil-conteudo {
         justify-content: center;
     }

     .space-box {
         padding: 0px 45px 0px 50px;
     }
 }

 @media screen and (min-width: 1048px) {
     .posicao-sticky {
         position: sticky;
         top: 110px;
     }

 }

 @media screen and (min-width: 770px) {
     .nossos-clientes-img {
         display: flex;
         justify-content: center;
     }
 }


 .text-quem-somos .comentarios b {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight0);
     font-size: var(--size1);
     line-height: 20px;
     color: #344848;

 }

 .text-quem-somos .comentarios {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size1);
     line-height: 20px;
     color: var(--verde);
     margin-top: 50px;
     padding-bottom: 50px;

 }

 .border-bottom {
     border-bottom: solid 1px var(--cinza2);
     ;
 }

 .sub-titulo {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--h2);
     line-height: 45px;
     color: #344848;
 }

 .nossos-clientes-img img {
     width: 60px;
     height: 60px;
 }

 .swiper-slide {
     margin-right: 0px !important;
 }

 .js-marquee img {
     filter: brightness(0);
     opacity: 50%;

 }

 .Pricing {
     background: var(--cinza1);
     padding-bottom: 80px;
 }

 .Pricing .title-prices h3 {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     font-size: var(--h3);
     line-height: 35px;
     color: var(--verde);
 }

 .Pricing .title-prices h2 {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     line-height: 35px;
     font-size: var(--h2);
     color: var(--verde);


 }

 .Pricing .title-prices h1 {
     font-family: 'Montserrat';
     font-style: normal;
     color: var(--branco);
     text-align: left;
 }

 .Pricing .title-prices h1 span:nth-of-type(1) {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     font-size: var(--size3);
     line-height: 20px;
 }

 .Pricing .title-prices h1 span:nth-of-type(2) {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 60px;
 }

 .Pricing .title-prices h1 span:nth-of-type(3) {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     font-size: var(--size3);
     position: relative;
     bottom: 30px;
 }

 .box-prices-values {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin-top: 15px;
     line-height: 5px;

 }

 .box-prices-values div {
     width: 70px;
     height: 1px;
     background: #FECEA2;
     position: absolute;


 }


 .box-prices-values p:nth-of-type(1) {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size3);
     line-height: 20px;
     text-align: center;
     color: var(--branco);
     white-space: nowrap;
 }

 .box-prices-values p:nth-of-type(2) {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight0);
     font-size: var(--size3);
     line-height: 14px;
     text-align: center;
     color: var(--verde);
     background: #FECEA2;
     border-radius: 30px;
     padding: 0px 5px;
     margin-left: 10px;
 }

 .box-prices-values1 {
     margin-top: 0px;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size3);
     line-height: 20px;
     text-align: left;
     color: var(--branco);

 }

 .box-1-prices {
     background: var(--verde);
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
     border-radius: 10px;
     color: var(--cinza1);
     max-width: 300px;
     padding-bottom: 25px;
     margin: 0px 50px;
 }

 .Pricing .box-1-prices .box-prices-padding {
     padding: 0px 21px;
     padding-top: 25px;
 }

 .Pricing .box-2-prices .box-prices-padding {
     padding: 0px 21px;
     padding-top: 25px;
 }

 .box-2-prices-list p {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size3);
     line-height: 20px;
     color: var(--verde);
 }

 .box-2-prices-list {
     margin-top: 30px;
 }

 .box-2-prices-val {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--h1);
     color: var(--verde);
     margin-top: 10px;
 }

 .Pricing .box-1-prices-d1 {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--size1);
     color: var(--cinza1);
     margin-bottom: 12px;
 }

 .Pricing .box-1-prices-d2 {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size3);
     color: var(--cinza1);
     text-align: left;
 }

 .Pricing .box-1-prices-d3 {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size3);
     color: var(--cinza1);
     text-align: left;
     margin-top: 15px;
 }

 .Pricing .regressive-prices {
     background: #FFFFFF;
     border-radius: 10px;
     color: var(--verde);
     padding-top: 15px;
     padding-bottom: 15px;
     margin-top: 15px;
 }

 .Pricing .regressive-prices .regressive-prices-b {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 0px;
     text-align: center;
 }

 .button-prices {
     background: var(--dourado);
     border-radius: 20px;
     width: 90%;
     height: 50px;
     margin: auto;
     margin-bottom: 0;
     text-align: center;
     font-family: 'Manrope';
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--size1);
     line-height: 22px;
     text-decoration: none;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     color: inherit;
 }

 .regressive-prices-day p,
 .regressive-prices-hrs p,
 .regressive-prices-min p,
 .regressive-prices-seg p {
     font-family: 'Manrope';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size4);
     line-height: 20px;
     color: var(--verde);
     text-align: left;
     padding-left: 14px;
 }

 .regressive-prices-day b,
 .regressive-prices-hrs b,
 .regressive-prices-min b,
 .regressive-prices-seg b {
     font-family: 'Manrope';
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--h3);
     line-height: 20px;
     color: var(--verde);
 }

 .display-boxs {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 30px;
     height: 427px;
 }

 .box-2-prices {
     background: var(--branco);
     border: 1px solid #CDCDCD;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
     border-radius: 10px;
     color: var(--verde);
     max-width: 300px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 427px;
     margin: 0px 50px;
 }

 .box-prices-title {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--size1);
     color: var(--verde);
     margin-bottom: 12px;
 }

 .box-prices-contente {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size3);
     line-height: 20px;
     color: var(--verde);
 }

 .Depoimentos {
     padding-top: 80px;
     padding-bottom: 80px;
 }

 .Depoimentos .Depoimentos-title {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--h3);
     color: var(--verde);
 }

 .Depoimentos .Depoimentos-sub {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--h2);
     color: var(--verde);
 }

 .display-boxs1 {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-auto-flow: row;
     grid-gap: 20px;
     margin-top: 55px;
 }

 .Depoimentos .box-depoimentos {
     background: var(--branco);
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
     border-radius: 10px;
     max-width: 210px;
     padding: 20px;
     padding-top: 0;
     margin: auto;
 }

 .Depoimentos .box-depoimentos div:nth-of-type(1) {
     background: var(--cinza);
     height: 56px;
     width: 56px;
     margin: auto;
     border-radius: 50%;
     position: relative;
     bottom: 30px;

 }

 .Depoimentos .box-depoimentos div:nth-of-type(2) {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight);
     font-size: var(--size3);
     color: var(--verde);
     text-align: center;
     margin-bottom: 14px;
 }

 .Depoimentos .box-depoimentos div:nth-of-type(3) {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size3);
     line-height: 13px;
     color: var(--verde);
 }

 .button-group {
     display: flex;
     padding: 8px;
     background: #FFFFFF;
     border: 1px solid #B3B3B3;
     border-radius: 30px;
     width: 260px;
     margin: auto;
     margin-top: 30px;
 }

 .button-group-container {
     width: 260px;
     margin: auto;
 }

 .button-group a.active {
     background: #344848;
     color: var(--branco);
 }

 .button-group a {
     border-radius: 30px;
     display: flex;
     justify-content: center;
     color: inherit;
     color: var(--verde);
     padding: 6px 10px;
     text-decoration: none;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: 12px;
     line-height: 20px;
     margin: 0px 10px;
 }

 .footer {
     height: 130px;
     background: var(--verde);
     color: var(--branco);
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 0px 45px;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size2);
     line-height: 20px;

 }

 .footer a {
     color: inherit;
     text-decoration: none;
     transition: 0.3s;
     line-height: 30px;
 }

 .footer a:hover {
     color: var(--branco);
     border-bottom: solid 1px var(--branco);

 }

 .footer-info {
     display: flex;
 }

 .footer-info div {
     margin-left: 40px;
     margin-right: 40px;
     width: 170px;
 }

 .footer-info img {
     width: 50px;
 }

 .button-group-fixed {
     position: relative;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: var(--weight1);
     font-size: var(--size3);
     color: var(--branco);
     background: var(--verde);
     width: 140px;
     text-align: center;
     border-radius: 15px;
     padding: 2px 5px;
     left: 145px;
     bottom: 70px;
 }

 .modal-calendario {
     background: #ffffffb9;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 2;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .calendario-info {
     display: grid;
     grid-template-columns: 350px 450px;
     grid-gap: 0;
     background: var(--verde);
     border: 1px solid var(--branco);
     border-radius: 20px;
     color: var(--branco);
     font-family: 'Manrope';
     font-style: normal;
     padding: 25px;
     padding-right: 15px;
 }

 .calendario-info h2 {
     font-weight: var(--weight);
     font-size: var(--h3);
     line-height: 33px;
     color: var(--branco);
 }

 .calendario-info h3 {
     font-weight: var(--weight1);
     font-size: var(--size1);
     line-height: 16px;
     color: var(--branco);
     margin-bottom: 20px;
 }

 .calendario-info h3 {
     font-weight: var(--weight1);
     font-size: var(--size1);
     line-height: 16px;
     color: var(--branco);
     margin-bottom: 20px;
 }

 .calendario-info p {
     font-weight: var(--weight1);
     font-size: var(--size2);
     line-height: 30px;
     color: var(--branco);
 }

 .calendario-info p svg {
     margin-right: 10px;
 }

 .calendario-info-description {
     line-height: 18px !important;
     margin-bottom: 50px;
     display: flex;

 }

 .calendario-info-p1 {
     border-right: solid 1px #ffffff45;
 }

 .js-fechar-modal {
     position: absolute;
     right: 90px;
     top: 90px;
 }

 .calendario-info .js-fechar-modal {
     cursor: pointer;
 }


 .confirmar-agenda{
    background: var(--cinza);
    border-radius: 5px;
    width: 80px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size2);
 }

 .confirmar-agenda.active{
    background: #15B64F;
 }

 .perfil-calendario {
     width: 36px;
     border-radius: 50%;
     border: solid 1px var(--branco);
 }

 .fechar-mobile {
     display: none;
 }

 .js-fechar-modal {
     color: var(--verde);
 }
 .calendario-color{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.calendario-color > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--weight1);
    font-size: var(--size5);
    line-height: 16px;
}

 .calendario-color div:nth-of-type(1) span{
    width: 10px;
    height: 10px;
    background: #202C2C;
    border-radius: 30px;
    margin-right: 5px;
    display: block;
 }

 .calendario-color div:nth-of-type(2) span{
    width: 10px;
    height: 10px;
    background: #FF5F5F;
    border-radius: 30px;
    margin-right: 5px;
    display: block;
 }


 .calendario-color div:nth-of-type(3) span{
    width: 10px;
    height: 10px;
    background: #FECEA2;
    border-radius: 30px;
    margin-right: 5px;
    display: block;
 }



 @media screen and (max-width: 1048px) {
     .marquee_text-img div {
         margin: 0px 50px;
     }

     .media-column {
         flex-direction: column;
         justify-content: space-between;
     }

     .img-quem-somos {
         max-width: 100%;
     }

     .text-quem-somos,
     .posicao-sticky {
         margin: auto;
     }

     .box-depoimentos {
         margin-top: 30px !important;
         min-height: 180px;
     }

     .display-boxs1 {
         grid-template-columns: repeat(2, 1fr);
     }

     .calendario-info {
         display: block;
         max-width: 390px;
     }

     .calendario-info-p1 {
         border: solid transparent;
     }

     .fechar-desktop {
         display: none;
     }

     .fechar-mobile {
         display: block;
         text-align: right;
         height: 0;
         cursor: pointer;
     }


 }


 @media screen and (max-width: 768px) {

     .box-1-prices,.box-2-prices {
         max-width: 355px;
        
     }

     .regressive-prices-day p,
     .regressive-prices-hrs p,
     .regressive-prices-min p,
     .regressive-prices-seg p {
         padding-left: 27px;
     }

     .marquee_text-img div {
         margin: 0px 30px;
     }

     .footer {
         flex-direction: column;
         justify-content: space-between;
         padding: 30px;
     }

     .Pricing {
         height: 1150px;
     }

     .footer img {
         width: 30px;
     }

     .icon-mobile,
     .menu {
         display: block;
     }

     .gird2 {
         grid-template-columns: repeat(1, 1fr);
     }

     .icon-mobile div {
         /* display: none;*/
         width: 15px;
         background: var(--cinza2);
         height: 2px;
         margin-top: 2px;
     }

     .icon-mobile {
         box-sizing: border-box;
         width: 30px;
         height: 30px;
         border: 0.5px solid var(--cinza2);
         border-radius: 30px;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
     }

     .menu nav {
         display: none;
         margin-top: 30px;
     }

     .menu nav ul {
         display: block;
         background: var(--branco);
         position: fixed;
         height: 100vh;
         right: 0px;
         width: 100%;
         text-align: center;
     }

     .icon-mobile {
         margin-left: auto;
         margin-right: 45px;
     }

     .nav-mobile {
         width: 100%;
         display: flex;
         margin-top: 24px;
     }

     .header-title {
         width: auto;
     }

     .header-title {
         font-size: 25px;
     }

     .botao-dourado {
         padding: 0px 30px;
         width: auto;
     }

     .section {
         padding: 0px 15px;
     }

     .block {
         display: block;
     }

     .media-margin {
         margin-top: 90px;
     }

     .display-boxs {
         display: block;
         margin-top: 15px;
     }

     .box-1-prices,
     .box-2-prices {
         margin: auto;
         margin-top: 20px;
     }

     .Pricing .title-prices h1 span:nth-of-type(1) {
         font-size: 15px;
     }

     .Pricing .title-prices h1 span:nth-of-type(2) {
         font-size: 60px;
     }

     .Pricing .title-prices h1 span:nth-of-type(3) {
         font-size: 15px;
         bottom: 25px;
     }

     .display-boxs1 {
         grid-template-columns: repeat(1, 1fr);
     }

 }


 #video-background {
     position: relative;
     width: 100%;
     height: 100%;
     overflow: hidden;
 }

 #my-video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }