@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
  --cor-principal:#344848;

}

.imagem-sorriso{
    width: 100%;
    text-align: center;
    position:absolute;
    top: 10%;
}

.centralizacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
}
  
.autenticar{
    background: #344848;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    color: #fff;
    min-width: 50px;
    max-width: 301px;
    width: 100%;
    font-weight: 600;
    height: 48px;
    font-size: 14px;
}

.formulario{
    min-width: 50px;
    max-width: 350px;
    width: 100%;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
    font-size: 12px;
}

.input_icon {
  position: relative;
  display: flex;

}
 .icon_input {

  bottom: -12px;
  height: 20px;

}

.input_icon input{
  padding-left: 60px; /* espaço para o ícone */
  height: 48px;
  border-radius: 15px;
  background: #F4F4F4;
  border: 1px solid #D3D3D3;
  color: #9D7575;
  font-weight: 600;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 200;
  margin-left: -25px;
}

.input_icon input::placeholder {
  color: #9D7575;
  font-weight: 200;
}

.border-icon{
  border-right: 2px solid #D3D3D3;
  padding-right: 20px;
  position: relative;
  right:-20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 48px;
}

.input_icon > input:focus-within{
  outline: none; 
}

.input_icon input[type="date"]::-webkit-calendar-picker-indicator {
  position: relative;
  top: 2px;
  right: 10px;
}

.Titulo{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--cor-principal);
}

.sub-titulo{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--cor-principal);
}

.dados-pessoais{
  background: #FFFFFF;
  border: 1px solid #DADCE0;
  display: block;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 380px;
  min-width: 100px;
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #344848;
}

.dados-pessoais tbody{
  width: 100%;
  display: block;
}

.dados-pessoais tr{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dados-pessoais b {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #344848;
}

.print-table {
  width: 80% !important;
  margin: 0 auto !important;
}

.pergunta-form{
  padding: 10px;
  max-width: 546px;
  min-width: 100px;
  width: 100%;
  text-align: left;
  background: #344848;
  border-radius: 10px;
  color: #fff;
  font-family: 'Manrope';
  font-style: normal;
}

.resposta-form{
  margin-top: 10px;
}

.page-form{
  max-width: 584px;
  min-width: 100px;
  width: 100%;
  margin: auto;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;  
  color: #344848;
}


.resposta-form, .resposta-form + p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #344848;
  margin-bottom: 5px;
  margin-left: 10px;
}


.box-border{
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  padding: 10px;
  margin-top: 35px;
  margin-bottom: 20px;
  font-family: 'Manrope';
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #344848;

}

.margin-top-20 {
  margin-top: 20px;
}

.assinatura-data{
  margin-bottom: 50px;
  display: block;
}

.display-flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-bottom{
  border-bottom: 1px solid #344848;
}

.assinaturas{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #344848;
}

.assinaturas b {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #344848;
}

.font14{
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #344848;
}

.text-center{
  text-align: center;
}

.historico{
  font-family: 'Manrope';
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
  color: #344848;
}

.historico tr{
  display: block;
  margin-bottom: 20px;
}

.icon-historico{
  width: 60px;
}

.historico-titulo{
  margin: 50px 0px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #344848;
}