/* reset */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	font-family: 'Manrope', sans-serif;
}
html, button, input, textarea, select, figure, article, section, aside, header, footer, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}select {background:url(../img/select-icon.png) no-repeat right center; -webkit-appearance:none; -moz-appearance:none; appearance:none; border-radius:0;}a {color:inherit; text-decoration:none;}img {border:0;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}:focus {outline: 0;}ins {text-decoration: none;}del {text-decoration: line-through;}table {border-collapse: collapse; border-spacing: 0;}html, body {height:100%;}

body {height:100vh; line-height:1.5; text-rendering: optimizeSpeed; -webkit-font-smoothing:antialiased; font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; font-size:14px;}

:root {
	--branco:#FFFFFF;
	--cinza0:#DADCE0;
	--cinza1:#F4F4F4;
	--cinza2:#EBEBEB;
	--cinza3:#CDCDCD;
	--cinza4:#848484;
	--cinza5:#344848;
	--cinza6:#D0D0D0;
	--fundo:#F6F6F6;
	--cor1:#FECEA2;
	--cor1hover:#DFAE81;

	--border-radius1:12px;
	--border-radius2:8px;
	--box-shadow1:0 0 20px rgba(0,0,0,0.1);
	--padding1:1.5rem;
	--margin1:1.5rem;

	--verde:darkseagreen;
	--vermelho: red;
	--laranja: orange;
	--cor-base:#9D7575;
	
}

.body{
	background:var(--fundo) ;
}

.print-table {width:19cm; margin:0 auto;}
.print-table-header {height:1.8cm;}
.print-table-footer {height:2.5cm;}
.print-header {
	position: absolute;
	width: 100%;
    height: 1.8cm;
    text-align: center;
    background: transparent;
    margin: auto;
}
.print-header__logo {width: auto; height: 80px;


}
/* .print-footer {position:fixed; bottom:0; left:50%; width:19cm; margin-left:-9.5cm; height:2.5cm; text-align:center; padding-top:.5cm; background:#fff;} */
.print-footer {  width:19cm;height:2.5cm; text-align:center; background:transparent;} 
.print-footer p {margin-bottom:8px;}
.print-footer p span {margin-right:1rem;}
.print-footer p span:last-child {margin-right:0;}
.print-footer p a {text-decoration:underline;}

.print-content {font-size:12pt;}

.titulo1 {display:flex; justify-content:space-between; align-items:center; margin-bottom:2rem; margin-top: 2rem;}
.titulo1 h1 {font-size:20pt; text-transform:none; letter-spacing:3px; font-weight:normal; font-weight:normal; font-family:"Georgia";}
.titulo1 p {font-size:9pt;}

.titulo-ficha{
    padding: 10px;
    background: var(--branco);
    border: 1px solid var(--cinza0);
    border-radius: 10px;
    text-align: center;
	color: var(--cinza5);
	margin-bottom: 10px;
}
.titulo-ficha p{
	text-align: right;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}
.titulo-ficha h1{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
}
.titulo-ficha h2{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
}


.titulo2 {display:flex; justify-content:space-between; align-items:center; margin-bottom:.5rem; padding:8px;}
.titulo2 h1 {font-size:15pt; line-height:1; font-weight:bold; color:gray; text-transform:none;}
.titulo2 h2 {font-size:13pt; line-height:1; font-weight:normal; color:gray;}

.print-table table {width:100%; break-inside: avoid;}
.print-table table th {text-align:left; padding:8px;}
.print-table table td {padding:8px;}
.box table td {padding:8px; width: 100%; display: contents;}
.print-table table td h1 {font-size:7pt; text-transform:uppercase; margin-bottom:.25rem;}
.print-table table td p {line-height:1;}
.print-table table td a {border-bottom:1px solid #000;}
.print-table table td small {font-size:0.813em;}

.ficha {
	padding: 10px;
    background: var(--branco);
    border: 1px solid var(--cinza0);
    border-radius: 10px;
    text-align: left;
	color: var(--cinza5);
	margin-bottom: 10px;
}
.ficha__foto {display:block; flex:0 0 75px; width:75px; height:75px; object-fit:cover; border-radius:15px; margin-right:1rem;}

.box tr{
	background: var(--branco);
	border: 1px solid var(--cinza0);
	border-radius: 10px;
	margin-top: 10px;
    display: block;
	padding: 10px;
}

.box strong{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	display: block;
    margin-bottom: 15px;
	color: var(--cinza5);
}
.box_empty {border:0; padding:0;}

.prescricao {padding:8px; margin-bottom:.5rem;}
.prescricao:last-child {margin-bottom:0;}
.prescricao__item {display:flex; margin-bottom:.25rem;}
/*.prescricao__item h1 {font-size:12pt;}*/
.prescricao__item span {flex:1; border-bottom:1px solid #000; margin:0 .5rem 5px .5rem; line-height:8px;}
.prescricao__item h2 {font-weight:normal;}

.no-padding td {padding:4px !important;}

@page { size: auto;  margin: 0mm; }

.fck {font-weight:300;}
.fck hr {border:0; border-bottom:1px solid var(--cinza2); margin:2rem 0;}
.fck > *:first-child, .titulo1:first-child, .titulo2:first-child, .titulo3:first-child {margin-top:0;}
.fck p {margin:1.25rem 0; font-size:1.125em; line-height:1.6;}
.fck h1, .titulo1 {margin:2rem 0; line-height:1.1; font-size:2.5em; font-weight:300; color:var(--cor1);}
.fck h2, .titulo2 {margin:10px 0; line-height:1.1; font-size:2em; font-weight:300; letter-spacing:-0.02em; color:var(--cor1);}
.fck h3, .titulo3 {margin:2rem 0; line-height:1.1; font-size:1.5em; font-weight:300;}
.fck ul {list-style:disc outside; margin:0 0 1rem 30px;}
.fck ol {list-style:decimal outside; margin:0 0 1rem 30px;}
.fck li {margin-bottom:.3rem;}
.fck table {width:100%; margin:2rem 0;}
.fck table p {margin:0;}
.fck table th {color:var(--cor2); padding:.5rem; border-bottom:2px solid var(--cor2); text-align:left;}
.fck table td {padding:.5rem; border-bottom:1px solid var(--cinza2);}
.fck a {text-decoration:underline; color:var(--cor1);}
.fck img {max-width:100%; height:auto;}

textarea::placeholder {
	color: var(--cinza6);
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 14px;
}

textarea {
	width: 100%;
	border: solid transparent;
    border-bottom: 0.5px solid var(--cinza5);
    height: 100%;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 14px;
	resize: none;
	padding-top: 5px;

}
.button {
	max-width: 300px;
	min-width: 100px;
	width: 100%;
	height: 48px;
	background: var(--cinza5);
	border: 1px solid #D3D3D3;
	border-radius: 10px;
	color: var(--branco);
	margin-top: 10px;
	font-weight: 700;
}
.assinarESalvar {
    max-width: 209px;
    min-width: 100px;
    width: 100%;
    height: 48px;
    background: var(--cinza5);
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    color: var(--branco);
    margin-top: 10px;
    font-weight: 700;
}

input::placeholder {
	color: var(--cor-base)
}

.assinatura section{
	max-width: 356px;
	min-width: 100px;
	margin: auto;

}

.form input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    width: 100%;
    line-height: 20px;
    transition: all 150ms;
    border: 1px solid var(--cinza3);
    background-color: var(--cinza1);
    height: 38px;
    padding: 0 8px;
    border-radius: 0px 8px 8px 0px;
}


.form .colunas4 {grid-template-columns: repeat(4, 1fr);}

.form [class^="colunas1"] {display: grid; grid-template-columns: 1fr 0fr;}
.form [class^="block"] {display: block;}
.form [class^="block"] dl {margin-top: 10px;}

.form .form-comp {gap: 0;}

.form dd {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	position: relative;
}
.form-comp span, .form-comp a {
	background: var(--cinza1);
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 12px;
	border: 1px solid var(--cinza3);
	color: var(--cinza4);
	margin: 0 -1px;
	border-radius: 8px 0 0 8px;
}

.Autentificar{
	max-width: 356px;
	min-width: 100px;
	width: 100%;
	margin: auto;
	background: #FFFFFF;
	border: 1px solid var(--cinza0);
	border-radius: 14px;
	padding: 27px 42px;
}

.cor-base{
	color: var(--cor-base);
}
.form-unico-centro{
	text-align: center;
    height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}




/*Radios Contagem*/


.radios-Numeros input[type="radio"]  {
	opacity: 0; 
	position: absolute;}
	
.radios-Numeros input[type="radio"]  + .contagem  { 
	color: #000000;
	width: 20px;
	border: 1px solid var(--cinza5);
	background: #fff;
	border-radius: 30px;
	display: block;
	font-size: 12px;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;}


.radios-Numeros input[type="radio"]:checked + .contagem {
	color: #ffffff;
	width: 20px;
	border: 1px solid var(--cinza5);
	background: var(--cinza5);
	border-radius: 30px;
	display: block;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
	@media (max-width: 390px)
{
	.radios-Numeros input[type="radio"]  + label, .radios-Numeros input[type="radio"]:checked + .contagem{
		align-items: center;
		

		
	}
	.radios-Numeros .display-flex{
		flex-wrap: wrap;
	}  
}

.display-flex {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 5px;
}

.radiosn input[type="radio"]{
 		display: none;
}

.radiosn input[type="radio"] + .label::before {
	content: "";
    width: 18px;
    height: 18px;
	margin-top: -3px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
	margin-left: 12px;
	background: url("../img/Radio.png");
	background-size: contain;
    background-repeat: no-repeat;
}

.radiosn input[type="radio"]:checked + label:before {
	content: "";
    width: 18px;
    height: 18px;
	margin-top: -3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    background-image: url("../img/RadioCheck.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.radiosn label {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #344848;


}


  
