body {margin:1.5cm 1cm 2cm 1cm; font-family:sans-serif;}
header {position: fixed;top: 0cm;left: 0cm;right: 0cm;height: 1.5cm; text-align:center;}
header img {height:1cm;}
footer {position: fixed; bottom: 0cm; left: 0cm; right: 0cm;height: 2cm; font-size:9pt;}
footer table {width:100%;}
footer td {text-align:center;}
main {font-size:11pt;}
main table {border:1pt solid #ddd; width:100%; padding:.25cm; border-radius:.25cm;}
main table small {font-weight:bold;}
main h1 {text-align:center;}
