/* reset */

html, button, input, textarea, select, figure, article, section, aside, header, footer, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, label, legend {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}select {background:url(../img/select-icon.png) no-repeat right center; -webkit-appearance:none; -moz-appearance:none; appearance:none; border-radius:0;}a {color:inherit; text-decoration:none;}img {border:0;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}:focus {outline: 0;}ins {text-decoration: none;}del {text-decoration: line-through;}table {border-collapse: collapse; border-spacing: 0;}html, body {height:100%;}

body {height:100vh; line-height:1.5; text-rendering: optimizeSpeed; -webkit-font-smoothing:antialiased; font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; font-size:14px; color:var(--cinza5); background:var(--cinza1);}

.print-table {width:19cm; margin:0 auto;}
.print-table-header {height:1.8cm;}
.print-table-footer {height:2.5cm;}
.print-header {position:fixed; top:0; left:50%; width:19cm; margin-left:-9.5cm; height:1.8cm; text-align:center; background:#fff;}
.print-header__logo {width:8cm; height:auto;}
.print-footer {position:fixed; bottom:0; left:50%; width:19cm; margin-left:-9.5cm; height:2.5cm; text-align:center; padding-top:.5cm; background:#fff;}
.print-footer p {margin-bottom:8px;}
.print-footer p span {margin-right:1rem;}
.print-footer p span:last-child {margin-right:0;}
.print-footer p a {text-decoration:underline;}

.assinatura{ display: flex; flex-wrap: wrap; flex-direction: column; justify-content: flex-end; align-content: center; max-width: 100%; max-height: 100%;}
.item{ display: inherit; max-width: 100%;}

.canvas_container{border:1px solid black; border-radius:2px;display: flex;flex-grow: 1;}

#classe{display: flex; justify-content: space-around;}
.formulario-validacao > *{ background-color: white; /*border-top-left-radius: 10px;*/ border-radius: 8px; padding: 10px; margin-top: 10px;}
.formulario-validacao > div > label{ color: gray;}

.print-content {font-size:12pt;}

.titulo1 {display:flex; justify-content:space-between; align-items:center; margin-bottom:2rem; margin-top: 2rem;}
.titulo1 h1 {font-size:20pt; text-transform:none; letter-spacing:3px; font-weight:normal; font-weight:normal; font-family:"Georgia";}
.titulo1 p {font-size:9pt;}

.titulo2 {display:flex; justify-content:space-between; align-items:center; margin-bottom:.5rem; padding:8px;}
.titulo2 h1 {font-size:15pt; line-height:1; font-weight:bold; color:gray; text-transform:none;}
.titulo2 h2 {font-size:13pt; line-height:1; font-weight:normal; color:gray;}

.print-table table {width:100%; break-inside: avoid;}
.print-table table th {text-align:left; padding:8px;}
.print-table table td {padding:8px;}
.print-table table td h1 {font-size:7pt; text-transform:uppercase; margin-bottom:.25rem;}
.print-table table td p {line-height:1;}
.print-table table td a {border-bottom:1px solid #000;}
.print-table table td small {font-size:0.813em;}

.ficha {width:100%; display:flex; padding:10px; background:#ebebeb; border-radius:20px; font-size:13pt; margin-bottom:1.5rem;}
.ficha__foto {display:block; flex:0 0 75px; width:75px; height:75px; object-fit:cover; border-radius:15px; margin-right:1rem;}

.box {border:1px solid #ddd; padding:10px; border-radius:0 20px 20px 20px; font-size:10pt; margin-bottom:1.5rem;}
.box_empty {border:0; padding:0;}

.prescricao {padding:8px; margin-bottom:.5rem;}
.prescricao:last-child {margin-bottom:0;}
.prescricao__item {display:flex; margin-bottom:.25rem;}
/*.prescricao__item h1 {font-size:12pt;}*/
.prescricao__item span {flex:1; border-bottom:1px solid #000; margin:0 .5rem 5px .5rem; line-height:8px;}
.prescricao__item h2 {font-weight:normal;}

.no-padding td {padding:4px !important;}

@page { size: auto;  margin: 0mm; }

.fck {font-weight:300;}
.fck hr {border:0; border-bottom:1px solid var(--cinza2); margin:2rem 0;}
.fck > *:first-child, .titulo1:first-child, .titulo2:first-child, .titulo3:first-child {margin-top:0;}
.fck p {margin:1.25rem 0; font-size:1.125em; line-height:1.6;}
.fck h1, .titulo1 {margin:2rem 0; line-height:1.1; font-size:2.5em; font-weight:300; color:var(--cor1);}
.fck h2, .titulo2 {margin:2rem 0; line-height:1.1; font-size:2em; font-weight:300; letter-spacing:-0.02em; color:var(--cor1);}
.fck h3, .titulo3 {margin:2rem 0; line-height:1.1; font-size:1.5em; font-weight:300;}
.fck ul {list-style:disc outside; margin:0 0 1rem 30px;}
.fck ol {list-style:decimal outside; margin:0 0 1rem 30px;}
.fck li {margin-bottom:.3rem;}
.fck table {width:100%; margin:2rem 0;}
.fck table p {margin:0;}
.fck table th {color:var(--cor2); padding:.5rem; border-bottom:2px solid var(--cor2); text-align:left;}
.fck table td {padding:.5rem; border-bottom:1px solid var(--cinza2);}
.fck a {text-decoration:underline; color:var(--cor1);}
.fck img {max-width:100%; height:auto;}


